html {
    font-size: 18px;
}

body {
    font-family: 'Source Code Pro', Consolas, monospace, sans-serif;
}

.container {
    max-width: 500px;
}


/*
* center brand text vertically with robot ears 
* (not with entire img) 
*/

.brand {
    position: relative;
    top: 4px;
}
