@font-face {
  font-family: Emoji;

  src: local('Apple Color Emoji'),
       local('Android Emoji'),
       local(EmojiSymbols),
       local(Symbola),
       url('../font/Symbola-Emoji.eot?#iefix') format('embedded-opentype'),
       url('../font/Symbola-Emoji.woff') format('woff'),
       url('../font/Symbola-Emoji.ttf') format('truetype');

  /* Emoji unicode blocks */
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

.no-emoji body {
    font-family: sans-serif, 'Emoji';
}
